#draw {
	display: block;
  margin-right: auto;
  margin-bottom: 3%;
	background-color: #DEDEDE;
}

.container button {
   padding: 6px 12px;
   background-color: #DAA520;
   color: #FAFAFA;
   border-radius: 20px;
   border: none;
   text-decoration: none;
}

.container button:hover {
   background-color: #37128C;
}

#clear_btn {
	width: 80px;
	height: 25px;
}